.banner {
	background-color: #2D9AB7;
	background-image: url(../images/image1.jpg);
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.parallax {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.parallax_description {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.bgimage{
    background-image: url(../images/bg.png);
    height: 650px;
    
}
.navbar{

    border: 0px;
}
.getStarted{
    text-align: center;
    padding-top: 200px
}
.getStarted .btn-lg{
    height:50px;
    width: 200px;
    border-radius: 50px;
    border-color: floralwhite;
}
#myCarousel{
    height: 650px;
    background-color: #777777;
    
}

.rounded-circle{
	corner-radius:100px;
}